@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

h1 {
    font-size: 24px;
    font-family: 'Montserrat';
    text-align: center;
    margin: 0;
    padding: 48px;
    font-weight: 400;
}

span {
    font-weight: 700;
}