@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.searchContainer {
    display: flex;
    justify-content: center;
}

.searchBar {
    border: 10px;
    border-color: #1E1E1F;
}

input {
    border: 2px solid;
    border-color: #1E1E1F;
    border-radius: 0;
    background-color: #F9FBFC;
    color: #1E1E1F;
    font-family: 'Montserrat';
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    height: 64px;
    width: 279px;
    box-shadow: 0px 5px 50px 0px #20232940;
}

input::placeholder {
    color: #AAAAAA;
}